{% extends 'base.html' %}

{% block title %}
Список пользователей
{% endblock title %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Пользователь</th>
					<th>Фамилия</th>
					<th>Имя</th>
					<th>Отчество</th>
					<th>Информация</th>
					<th>Фото</th>
				</tr>

                {% for user in users %}
				<tr>
                    <td>{{ user.username }}</td>
					<td>{{ user.profile.last_name}}</td>
					<td>{{ user.profile.first_name}}</td>
					<td>{{ user.profile.patronymic}}</td>
                    <td>{{ user.profile.bio}}</td>
                    <td><img src="{{ user.profile.profile_picture.url }}" width="70" alt="Фото"></td>
                </tr>
                {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock content %}